html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1e2022;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

